.xmake
.idea
*.xml
*.bak
*.pyc
*.pyd
*.so
*.log
*.plk
*.exe
*.sdf
*.suo
.metadata
.settings
.cproject
.project
.pyproject
.vscode
.vs
release.x64.version.h
release.x86.version.h
hikyuu.code-workspace
/hikyuu
/install
/build
*~
install
.DS_Store
hikyuu_cpp/hikyuu/version.h
hikyuu_python/tools/maintain/importdata.ini
Hikyuu.egg-info
dist
boost_*
py_version
