
/docs/build
*.bak
*.pyc
*.pyd
*.so
*.log
*.plk
*.exe
*.sdf
*.suo
.metadata
.settings
/build
/tools/hikyuu/*.dll
/tools/hikyuu/*.exe
/tools/hikyuu/docs/build
/docs/docs-web/build
/docs/reference
/docs/test-doc
/bin
/boost-build.jam
/Jamroot
/test/data/tmp
/tools/hikyuu/build
/tools/hikyuu/dist
/tools/hikyuu/Hikyuu.egg-info
/tools/build
/tools/dist
/tools/Hikyuu.egg-info
/tools/.pypirc
.ipynb_checkpoints
/project/msvc10/build
/project/msvc10/output
/project/msvc10/ipch
/project/msvc
/hikyuu_extern_libs
*~

