
/docs/build
*.xml
*.bak
*.pyc
*.pyd
*.so
*.log
*.plk
*.exe
*.sdf
*.suo
.metadata
.settings
/test/data/tmp
/build
/build.*
extern-libs.*
/tools/hikyuu/*.dll
/tools/hikyuu/*.exe
/tools/hikyuu/*.so
/tools/hikyuu/importdata
/tools/hikyuu/libboost*
/tools/hikyuu/docs/build
/tools/hikyuu/.idea
/tools/hikyuu/.spyproject
/docs/docs-web/build
/docs/reference
/docs/test-doc
/bin
/boost-build.jam
/Jamroot
/tools/hikyuu/build
/tools/hikyuu/dist
/tools/hikyuu/Hikyuu.egg-info
/tools/build
/tools/dist
/tools/Hikyuu.egg-info
/tools/.pypirc
.ipynb_checkpoints
/project/msvc10/build
/project/msvc10/output
/project/msvc10/ipch
/project/msvc
/hikyuu_extern_libs
*~

