*.py linguist-language=python
*.h linguist-language=C++
*.c linguist-language=C++
*.hpp linguist-language=C++
*.cpp linguist-language=C++
*.html linguist-language=C++
*.mod linguist-language=C++
*.ipynb linguist-language=C++
