click
numpy
matplotlib
seaborn
pandas>=1.0.4
pytdx
PySide6>=6.0.0
tables
bokeh
gitpython
SQLAlchemy
mysql-connector-python
pyperclip
requests
qdarkstyle
flatbuffers>=24.3.25
pynng
akshare
pyecharts
pipdeptree
h5py
tdqm
clickhouse-connect
pyarrow>=19.0.0