click
numpy<=1.26.4
matplotlib
pandas>=0.17.1
pytdx
PyQt5
tables
bokeh
gitpython
SQLAlchemy
mysql-connector-python
pyperclip
requests
qdarkstyle
flatbuffers>=24.3.25
pynng
akshare
pyecharts
pipdeptree
h5py
tdqm