name: win-build

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, windows-2022]
        arch: [x64] #, arm64]

    concurrency:
        group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-Windows-${{ matrix.os }}-${{ matrix.arch }}
        cancel-in-progress: true    
    
    steps:
    - uses: actions/checkout@v4

    - name: Cache windows packages
      id: cache-xmake-windows
      uses: actions/cache@v3
      env:
        cache-name: cache-windows-modules
      with:
        path: /Users/%USERNAME/.xmake
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: branch@master
        actions-cache-folder: '.xmake-cache'

    - name: configure
      shell: cmd
      run: |
        xmake f --feedback=n -y

    - name: build
      shell: cmd
      run: |
        xmake -b small-test

    - name: test
      shell: cmd
      run: |
        xmake r small-test
